<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Machine Learning</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />

    <script
      type="text/JavaScript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=1.4.2"
    ></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <!-- <div class="container" id="container">
      <div class="row">
        <div class="col-md-12 jumbotron text-center">
          <h1>Machine Learning</h1>
          <p>Handwriting detector</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="well">
            <h5>Result:</h5>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Display resulting here</h3>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <canvas
            id="myCanvas"
            style="background: lightcyan; width: 600px; height: 600px"
          ></canvas>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="bubble"></div>
        </div>
      </div>
    </div> -->

    <canvas id="myCanvas"></canvas>

    <button type="button" id="saveBtn">
      <!-- <a href="/predict">Save Image</a> -->
    </button>

    <div><h1>result: {{result}}</h1></div>
    <div style="background: green; height: 100px">This is text area</div>

    <script src="../static/js/canvas.js"></script>
  </body>
</html>

<body></body>
