<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Machine Learning</title>
    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    /> -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <script
      type="text/JavaScript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=1.4.2"
    ></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="header">
      <h1>Machine Learning</h1>
      <h3>Handwriting reader</h3>
    </div>
    <div class="row">
      <div class="left heading">
        White Board
      </div>
      <div class="middle" >middle</div>
      <div class="right heading">
        Result
      </div>
    </div>

    <div class="row">
      <canvas class="left" id="myCanvas"></canvas>
      <div class="middle">
        <button class="btn" type="button" id="reset">Reset</button>
        <button class="btn" type="button" id="btnA">Read Image</button>
        <button class="btn" type="button" id="btnB">Divid-Read Image</button>
      </div>
      <div class="right" id="result"></div>
    </div>



    <div class="row" id="img-result">

      <img id="imgA" width="200px"/>

      <img id="imgB" width="200px" />

    </div>

    <div class="row">
      <div id="result1">
        <select class="number" id="prediction1" name="number">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="0">0</option>

        </select>
        
        <button class="savebtn" type="button" id="savebtn1" width="200px">Save</button>
      </div>
      <div id="result2">
        <select class="number" id="prediction2" name="number">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="0">0</option>
        </select>
        <button class="savebtn" type="button" id="savebtn2" width="200px">Save</button>
      </div>

    </div>    




    <script src="../static/js/canvas.js"></script>
  </body>
</html>

<body></body>
