<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Machine Learning</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />

    <script
      type="text/JavaScript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=1.4.2"
    ></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body style="background: lightcyan">
    <div class="container">
      <div class="jumbotron text-center">
        <h1>Machine Learning</h1>
        <h3>Handwriting reader</h3>
      </div>
      <div class="row">
        <div style="border-width: 2px; border-color: black">
          <canvas id="myCanvas"></canvas>
        </div>
        <div style="background: blue; height: 400px"></div>
      </div>

      <button type="button" id="saveBtn">
        <!-- <a href="/result/">Save Image</a> -->
      </button>

      <div>
        <h1>result:</h1>
        <h1 id="result"></h1>
      </div>
      <div style="background: green; height: 100px">This is text area</div>
    </div>

    <script src="../static/js/canvas.js"></script>
  </body>
</html>

<body></body>
